// COLORS
$color-primary: #636e72;
$primary-color-light: #919cda;
$primary-color-dark: #38215c;

$secondary-color-light: #7ed56f;
$secondary-color-dark: #28b485;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-social-1: #3b5998;
$color-social-2: #00aced;
$color-social-3: #dd4b39;
$color-social-4: #517fa4;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f2f2f2;
$color-grey-light-4: #bbb;
$color-grey-light-5: #b2bec3;

$color-grey-dark: #777;
$color-grey-dark-2: #717171;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1rem;
